/*#region font-face*/

@font-face{
	font-family: 'Kosugi Maru';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/kosugimaru/v6/0nksC9PgP_wGh21A2KeqGiTq.ttf) format('truetype');
}

@font-face{
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3aPw.ttf) format('truetype');
}

/*#endregion font-face*/

:root{
	--background-primary: #222;
	--background-dark: #191919;
	--background-darker: #131313;
	--text-color: #f2f2f2;
	--accent: #39c5bb;

	--anchor-color: #fce566;

	--font-lat: 'Source Sans Pro';
	--font-jpn: 'UD Digi Kyokasho N-R', 'Kosugi Maru';
	--font-code: 'Fira Code', monospace;
	font-family: var(--font-lat), var(--font-jpn), sans-serif;
	font-size: 16px;
}

body{
	color: var(--text-color);
	background-color: var(--background-primary);
}

a{
	color: var(--anchor-color);
	text-decoration: none;
}

a:hover{
	filter: grayscale(100);
	background-color: rgba(255, 255, 255, 0.05);
	text-decoration: underline;
}

code{
	font-family: var(--font-code);
}

input{
	border: none;
	background-color: inherit;
	color: inherit;
	font-size: inherit;
}
