@use 'sass:color';
@use '@material/theme/color-palette';

$anchor: #fce566;

@use '@material/theme/index' as theme with (
    $primary: #f2f2f2,
    $background: #222,
    $surface: #222,
    $on-surface: #f2f2f2,
    $error: color-palette.$red-700,
);

@use 'app';

html, body{
    color: theme.$on-surface;
    background-color: theme.$surface;
}

a{
    color: $anchor;
    text-decoration: none;

    &:hover{
        color: grayscale($anchor);
        background-color: rgba(255, 255, 255, 0.05);
        text-decoration: underline;
    }
}
