@use "@material/typography/typography";
@use "@material/tab/mdc-tab";

rt{
    filter: brightness(0.75);
    text-align: center;
    user-select: none;
}

textarea{
    white-space: pre;
    overflow-x: scroll !important;
}

main{
    @include typography.typography(body1);
    display: flex;

    section{
        flex: 1;
        padding: 1em;
    }
}
