:root {
     --lrc-bg: #181a1b;
}

@font-face { 
      font-family: Kyokasho; 
      src: url('UDDigiKyokashoN-R.ttf');
} 


html {
     background-color: #111;
}

body {
     margin: 0px;
     font-size: 4em;
     font-family: Ubuntu, Kyokasho;
}


ruby {
     margin-bottom: 0.55em;
     display: inline-table;
     position: relative;
     vertical-align: bottom;
     line-height: 2.6;
}

ruby rb {
     display: table-row;
     position: relative;
     line-height: 1.2;
}

ruby rt {
     display: table-header-group;
     line-height: 1.8;
     color: #999;
     white-space: nowrap;
     text-align: center;
     letter-spacing: -0.001em;
     font-size: 0.5em;
}


#toc {
     white-space: nowrap;
     overflow: auto;
}

#toc a{
     display: inline-block;
     color: white;
     text-align: center;
     text-decoration: none;
     padding: 0.5em;
}

#toc a:hover{
     background-color: #222;
}

#lrc {
     position: absolute;
     white-space: nowrap;
     background-color: var(--lrc-bg);
     color: #c8c4bd;
     line-height: 2.3;
     padding: 0.5em;
     min-width: 100%;
}

#switch{
     position: fixed;
     color: dimgray;
     right: 0px;
     bottom: 0px;
     margin: 10px;
     user-select: none;
}



.underline {
     text-decoration: underline;
}


.hidden {
     color: var(--lrc-bg);
     user-select: none;
}

