:root {
    --lrc-bg: #181a1b;
}

html {
    background-color: #111;
}

body {
    margin: 0;
    font-size: 4em;
    font-family: Ubuntu, "UD Digi Kyokasho N-R", sans-serif;
}

/* #region ruby */

ruby {
    display: inline-table;
    position: relative;
    vertical-align: bottom;
}

ruby rb {
    display: table-row;
    position: relative;
}

ruby rt {
    display: table-header-group;
    color: #999;
    white-space: nowrap;
    text-align: center;
    letter-spacing: -0.001em;
    font-size: 0.5em;
}

/* #endregion ruby */

/* #region table of contents */

#toc {
    white-space: nowrap;
    overflow: auto;
}

#toc a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.5em;
}

#toc a:hover {
    background-color: #222;
}
/* #endregion table of contents */

#lrc {
    position: absolute;
    white-space: nowrap;
    background-color: var(--lrc-bg);
    color: #c8c4bd;
    min-width: 100%;
}

.control {
    position: fixed;
    color: dimgray;
    right: 0;
    margin: 10px;
    user-select: none;
}

.control div {
    display: inline;
}

.underline {
    text-decoration: underline;
}

.hidden {
    color: var(--lrc-bg);
    user-select: none;
}
