:root {
     --lrc-bg: #181a1b;
}

@font-face { 
      font-family: Kyokasho; 
      src: url('UDDigiKyokashoN-R.ttf');
} 

html {
     background-color: #111;
}

.kanji-on-furigana ruby {
     padding: 0 10px;
}

.kanji-on-furigana rb {
     text-decoration: underline;
}

body {
     margin: 0px;
     font-size: 4em;
     font-family: Kyokasho;
}

.hidden {
     color: var(--lrc-bg);
}

#menu {
     white-space: nowrap;
}

#menu a{
     display: inline-block;
     color: white;
     text-align: center;
     text-decoration: none;
     padding: 0.5em;
}

#menu a:hover{
     background-color: #222;
}

#lyric {
     position: absolute;
     white-space: nowrap;
     background-color: var(--lrc-bg);
     color: #c8c4bd;
     letter-spacing: 1px;
     line-height: 2.3;
     padding: 0.5em;
}

ruby {
     margin-bottom: 0.55em;
     display: inline-table;
     position: relative;
     vertical-align: bottom;
     line-height: 2.6;
}

ruby rb {
     display: table-row;
     position: relative;
     line-height: 1.2;
}

ruby rt {
     display: table-header-group;
     line-height: 1.8;
     color: #999;
     white-space: nowrap;
     text-align: center;
     letter-spacing: -0.001em;
     font-size: 0.5em;
}