$primary: #39c5bb;
$background: #222;
$on-surface: #f2f2f2;
$error: #d32f2f;

@use '@material/theme' with (
    $primary: $primary,
    $background: $background,
    $on-surface: $on-surface,
    $error: $error,
);

html, body{
    color: theme.$on-surface;
    background-color: theme.$background;
    margin: 0;
}

a{
    $anchor: #fce566;
    color: $anchor;
    text-decoration: none;

    &:hover{
        color: grayscale($anchor);
        background-color: rgba(255, 255, 255, 0.05);
    }
}

